.about {
    h2 {
        font-size: 1rem;
        letter-spacing: 3px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .paragraph {
        font-size: 1rem;
        font-weight: 300;
        line-height: 2.25rem;
        letter-spacing: .5px;
    }

    .content-grid {
        div.img-container,
        .content {
            width: 48%;

            @include mobile {
                width: 100%;
            }
        }

        .content {
            @include mobile {
                margin-top: 40px;
            }
        }

        div.img-container {
            height: 550px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 100px;

            @include mobile {
                flex-wrap: wrap;
                margin: 70px 0;
            }


            &:first-child {
                margin-top: 0;

                @include mobile {
                    margin-top: 0;
                }
            }

            &:nth-of-type(odd) {
                flex-direction: row-reverse;
            }
        }
    }
}