.artists {
  .intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 100px;

    @media (max-width: 800px) {
      flex-wrap: wrap;
      margin-bottom: 70px;
    }

    > .content {
      display: flex;
      align-items: center;

      @media (max-width: 800px) {
        margin-top: 50px;
      }
    }

    > .img-container {
      float: left;
      margin-right: 5%;
      height: 500px;
      width: 47.5%;
    }

    blockquote {
      margin: 25px 0;
    }

    > .content,
    > .img-container {
      width: 47.5%;

      @media (max-width: 800px) {
        width: 100%;
      }
    }
  }

  .press {
    margin-bottom: 100px;

    @media (max-width: 800px) {
      margin-bottom: 70px;
    }

    > h2 {
      margin-bottom: 25px;
    }

    .img-container:first-of-type {
      height: 600px;
      width: 100%;
    }

    .images {
      display: flex;
      justify-content: space-between;

      @media (max-width: 800px) {
        flex-wrap: wrap;
      }

      .img-container {
        height: 600px;
        width: 48%;

        @media (max-width: 800px) {
          width: 100%;
        }

        &:first-child {
          @media (max-width: 800px) {
            margin-bottom: 40px;
          }
        }
      }
    }

    .description {
      margin: 100px 0 100px 0;

      @media (max-width: 800px) {
        margin: 55px 0 45px 0;
      }
    }

    .specs {
      float: left;
      margin-top: 0;
      width: 50%;
      font-size: .75rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;

      @media (max-width: 800px) {
        float: none;
        width: 80%;
      }
    }

    .spec {
      margin-bottom: 15px;

      > span {
        font-weight: 700;
      }

      > div, > span > div {
        display: inline-block;
      }
    }

    .content {
      float: right;
      width: 50%;

      @media (max-width: 800px) {
        float: none;
        width: 95%;
        margin-top: 30px;
      }

      h2 {
        font-size: .75rem;
        letter-spacing: 3px;
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        line-height: 1.4;
      }

      .paragraph {
        font-size: 1rem;
        font-weight: 300;
        line-height: 2.25rem;
        letter-spacing: .2px;
      }
    }
  }
}
