.home .overview {
  margin: 145px 0 140px 0;

  .services {
    color: #777;
  }

  .content h2 {
    font-size: .75rem;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .paragraph {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2.25rem;
    letter-spacing: .2px;
  }
}
