<h2>Edit Work</h2>

<%= render "form.html", Map.merge(assigns, %{action: artist_work_path(@conn, :update, @artist, @work)}) %>

<span><%= link "Back", to: artist_work_path(@conn, :index, @artist) %></span>
