<h2>New Work</h2>

<% action = artist_work_path(@conn, :create, @artist) %>
<%= render "form.html", Map.merge(assigns, %{action: action}) %>

<span><%= link "Back", to: artist_work_path(@conn, :index, @artist) %></span>
