<h2>Edit Work</h2>

<% action = Routes.work_path(@conn, :update, @work) %>
<%= render "form.html", Map.merge(assigns, %{action: action}) %>

<span><%= link "Back", to: Routes.work_path(@conn, :show, @work) %></span>
