<h2>Listing Works for <%= @artist.first_name <> " " <> @artist.last_name %></h2>

<span><%= link "New Work", to: Routes.artist_work_path(@conn, :new, @artist) %></span>
<span><%= link "Back", to: Routes.artist_path(@conn, :show, @artist) %></span>

<%= render "_list-for-artist.html", conn: @conn, artist: @artist, works: @works %>
