<h2>New Work for <%= @artist.first_name <> " " <> @artist.last_name %></h2>

<% action = Routes.artist_work_path(@conn, :create, @artist) %>
<%= render "form-for-artist.html", Map.merge(assigns, %{action: action}) %>

<span><%= link "Back", to: Routes.artist_work_path(@conn, :index, @artist) %></span>
