<h2>New Work</h2>

<% action = Routes.work_path(@conn, :create) %>
<%= render "form.html", Map.merge(assigns, %{action: action}) %>

<span><%= link "Back", to: Routes.work_path(@conn, :index) %></span>
