<h2>Show Work</h2>

<span><%= link "Edit", to: work_path(@conn, :edit, @work) %></span>
<span><%= link "Back", to: work_path(@conn, :index) %></span>

<%= render "_details.html", conn: @conn, work: @work %>

