<h2>New Media</h2>

<%= render "form-for-work.html", Map.put(assigns, :action, Routes.work_media_path(@conn, :create, @work)) %>

<span><%= link "Back", to: Routes.work_media_path(@conn, :index, @work) %></span>
