<h2>New Media</h2>

<%= render "form-for-artist.html", Map.put(assigns, :action, Routes.artist_media_path(@conn, :create, @artist)) %>

<span><%= link "Back", to: Routes.artist_media_path(@conn, :index, @artist) %></span>
