<%= render FunkAndSchusterWeb.LayoutView, "header.html", assigns %>


<%= render FunkAndSchusterWeb.LayoutView, "footer.html", assigns %>
<%= render FunkAndSchusterWeb.LayoutView, "aside-nav.html", assigns %>

