* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}

.noscroll {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.clearfix {
  clear: both;
}

a {
  color: $text-color;
}

.page-title {
    font-size: 2.25rem;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 400;
}

.paragraph,
form label {
  color: $text-color-medium;
}

.reversed {
  background: $background-color-reversed;
  color: $text-color-reversed;
}

.reversed,
.reversed .paragraph,
.reversed li a {
  color: $text-color-reversed;
}
