$color-cyan: #00adf3;
$color-magenta: #ff0085;
$color-yellow: #fcfa00;

$color-black: #000000;
$color-dark-grey: #111111;
$color-grey: #444444;
$color-light-grey: #777777;
$color-off-white-dark: #dddddd;
$color-off-white: #f7f7f7;
$color-white: #ffffff;

$primary-color: $color-cyan;
$secondary-color: $color-magenta;

$text-color: $color-black;
$text-color-reversed: $color-off-white-dark;
$text-color-medium: $color-grey;
$text-color-light: $color-light-grey;
$background-color: $color-white;
$background-color-reversed: $color-dark-grey;