/* Custom Moquin */

.single-project .paragraph {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.25rem;
  letter-spacing: .2px;
}

.paragraph {
  color: #444;
}

.reversed .paragraph {
  color: #ddd;
}


.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-top: 0;
  width: 275px;
  max-width: 80%;
  line-height: 0;
}

.logo img {
  width: 100%;
}

.open-nav {
  position: relative;
  top: unset;
  transform: none;
}

.navigation li {
  margin-left: 40px;
}

.home .hero {
  background-image: url('/images/paint-blobs.jpg');
}
