@import "normalize";
@import "layout";
@import "component";
@import "page";

/* Normalize */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: Lato, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}

.noscroll {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.clearfix {
  clear: both;
}

/* Color */

blockquote {
  background: #f7f7f7;
}

.close-nav i:hover {
  color: #00adf3;
}

.paragraph,
form label {
  color: #444;
}

.navigation a,
a.open-nav,
.close-nav,
.aside-nav a {
  color: #000;
}

.aside-nav-container,
.name input,
.email input,
.message textarea {
  background: #fff;
}

.reversed {
  background: #111;
  color: #ddd;
}

.contact-me .paragraph,
.reversed,
.reversed .paragraph,
.reversed li a {
  color: #ddd;
}

.body-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.open-nav i,
.open-nav i:after,
.open-nav i:before,
.btn-rounded,
.btn-square,
.cite:before {
  background: #000;
}

.btn-rounded:hover,
.btn-square:hover {
  background: #00adf3;
}

a.btn-square,
a.btn-rounded,
input.btn-square {
  color: #fff;
}

.services {
  color: #777;
}
