/* Normalize */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: Lato, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* Header */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header {
  height: 100px;
  line-height: 100px;
  position: relative;
}

.logo {
  margin-top: 0;
  width: 275px;
  max-width: 80%;
  line-height: 0;
}

.logo img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all .2s ease-in-out;
}


.navigation li {
  list-style: none;
  float: left;
  margin-left: 40px;  /* custon */
}

.navigation li a {
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.open-nav {
  display: none;
  position: relative;
  right: 0;
  height: 22px;
  width: 28px;
  z-index: 1;
}

.open-nav:hover {
  cursor: pointer;
}

.open-nav i {
  position: absolute;
  top: 50%;
  right: 0;
  height: 2px;
  width: 100%;
  transition: all .3s ease-in-out;
}

.open-nav i:before {
  position: absolute;
  top: -9px;
  content: " ";
  height: 2px;
  width: 100%;
  transition: all .3s ease-in-out;
}

.open-nav i:after {
  position: absolute;
  top: 9px;
  content: " ";
  height: 2px;
  width: 100%;
  transition: all .3s ease-in-out;
}

.open-nav:hover i:before,
.open-nav:hover i:after {
  width: 80%;
}


/* Responsive */
@media (max-width: 800px) {
  .open-nav {
      display: block;
  }
}

@media (max-width: 800px) {
  .navigation {
    display: none;
  }
}

/* Side Nav */
.aside-nav-container {
  background-color: white;
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  padding: 36px 0 0 50px;
  height: 100vh;
  width: 450px;
  z-index: 5;
  transition: left .6s;
}

.aside-nav-container.active {
  left: 0;
}

.close-nav {
  font-size: 1.5rem;
  position: absolute;
  top: 50px;
  right: 40px;
}

.aside-nav {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 46px;
  list-style: none;
}

.aside-nav li {
  margin-bottom: 10px;
}

.aside-nav li a {
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: .3px;
  text-transform: capitalize;
}

@media(max-width: 590px) {

  .aside-nav-container {
    width: 100%;
  }
}

.active {
  opacity: 1;
}

/* Footer */
.footer {
  display: block;
  border-top: 1px solid #ddd;
  height: 100px;
  line-height: 99px;
}

.footer .copyright-info {
  float: left;
}

.footer .social-icons {
  float: right;
}

.reversed {
  border-top: 1px solid #222;
  border-bottom: 1px solid #111;
}

.copyright-info {
  font-size: .95rem;
  letter-spacing: .5px;
  text-transform: capitalize;
}

.social-icons li {
  font-size: .875rem;
  float: left;
  list-style: none;
  margin-left: 35px;
}

/* Responsive */
@media(max-width: 800px){
  .footer {
    height: 0;
    line-height: normal;
    padding: 50px 0 120px 0;
    text-align: center;
  }

  .footer .copyright-info,
  .footer .social-icons {
    float: none;
  }

  .social-icons li {
    float: none;
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 0 15px;
  }

}




/* Layout */
.clearfix {
  clear: both;
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}


@media(max-width: 760px) {

  .container,
  .container-large {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media(max-width: 1720px){

  .container-large {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media(max-width: 1200px){

  .container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* HOME */

.home .overview {
  margin: 145px 0 140px 0;
}

.overview header {
  float: left;
  width: 50%;
}

.overview .content {
  float: right;
  width: 50%;
}

.overview .project-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: -.7px;
  margin: -11px 0 5px 0;
}

.overview .services {
  font-size: .75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home .overview .services {
  color: #777;
}


@media (max-width: 1060px) {
  .home .overview {
    margin: 100px 0 95px 0;
  }
}

@media (max-width: 800px) {
  .home .overview {
    margin: 70px 0 75px 0;
  }

  .overview header,
  .overview .content {
    float: none;
    width: 95%;
  }

  .overview header {
    margin-bottom: 30px;
  }

}

.single-project .content h2 {
  font-size: .75rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.single-project .paragraph {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.25rem;
  letter-spacing: .2px;
}

/* ABOUT */



.content-grid .img-container,
.content-grid .content {
  width: 48%;
}

.content-grid .img-container {
  height: 550px;
}

.content-grid .content-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.content-grid > .content-group:first-child {
  margin-top: 0;
}

.content-grid .content-group:nth-of-type(odd) {
  flex-direction: row-reverse;
}


.about .details {
  margin-top: 40px;
}

.about h2 {
  font-size: .75rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
}

.about .paragraph {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.25rem;
  letter-spacing: .2px;
}

/* Color */
.about .paragraph {
  color: #444;
}

/* Responsive */
@media (max-width: 800px) {
  .content-grid > .content-group {
    flex-wrap: wrap;
    margin: 70px 0;
  }

  .content-grid > .content-group:first-child {
    margin-top: 0;
  }

  .content-grid .content {
    margin-top: 40px;
  }

  .content-grid .img-container,
  .content-grid .content {
    width: 100%;
  }
}

/* CONTACT */

.contact h2 {
  margin-bottom: 25px;
}

.form-wrapper {
  float: left;
  margin-right: 6%;
  margin-bottom: 150px;
  width: 64%;
}


.contact-form div.name,
.contact-form div.email {
  float: left;
  width: 48%;
}

.contact-form div.name {
  margin-right: 4%;
}

.contact-form label {
  display: block;
  font-size: 1rem;
  letter-spacing: .5px;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.name input,
.email input {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 15px;
  outline: none;
  height: 45px;
  width: 100%
}
.message textarea {
  border: 1px solid #ccc;
  padding: 15px;
  outline: none;
  height: 170px;
  width: 100%;
}

.name input:focus,
.email input:focus,
.message textarea:focus {
  border: 1px solid #999;
}

.contact-form input[type="submit"] {
  border: none;
  cursor: pointer;
  float: right;
  font-family: Lato;
  transition: all .2s ease-in-out;
  margin-top: 25px;
}


.contact .info {
  float: right;
  margin-top: 30px;
  width: 30%;
}

.contact .info div {
  margin-bottom: 25px;
}

.contact .info h3 {
  font-size: .8rem;
  font-weight: 900;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.contact .info p {
  letter-spacing: .3px;
  color: inherit;
}


@media (max-width: 800px) {
    .form-wrapper,
  .contact .info{
    float: none;
    width: 100%;
  }

  .contact .info {
    margin-bottom: 100px;
  }

  .form-wrapper input[type="submit"] {
    width: 100%;
  }

  .mail-link {
    font-size: 2.5rem;
  }

  .contact-me p {
    width: 80%;
  }
}


.btn-square {
  border: none;
  display: block;
  font-size: .75rem;
  height: 55px;
  letter-spacing: 3px;
  line-height: 55px;
  text-transform: uppercase;
  text-align: center;
  width: 220px;
}

/* COLOR */

.paragraph {
  color: #444;
}

.reversed .paragraph {
  color: #ddd;
}


.hero {
  background: url(..//img/image-placeholder_01.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  height: 800px;
  width: 100%;
}
