<h2>Show Gallery</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @gallery.title %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.gallery_path(@conn, :edit, @gallery) %></span>
<span><%= link "Back", to: Routes.gallery_path(@conn, :index) %></span>
