.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}

@media (max-width: 1720px) {
  .container-large {
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (max-width: 1200px) {
  .container {
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (max-width: 760px) {
  .container,
  .container-large {
    margin-left: 25px;
    margin-right: 25px;
  }
}