.container {
    max-width: 1170px;

    @include mobile {
        margin-left: 25px;
        margin-right: 25px;
    }


    @include tablet {
        margin-left: 45px;
        margin-right: 45px;
    }


    @include large-desktop {
        margin: auto;
        position: relative;
    }
}