.container {
    max-width: 1170px;
    margin: auto;
    position: relative;

    @include mobile {
        margin-left: 25px;
        margin-right: 25px;
    }


    @include tablet {
        margin-left: 45px;
        margin-right: 45px;
    }
}