.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  line-height: 225px;
  position: relative;
  // -webkit-box-shadow: 0 8px 6px -6px #999;
  // -moz-box-shadow: 0 8px 6px -6px #999;
  // box-shadow: 0 8px 6px -6px #999;
  padding-right: 45px;
  padding-left: 45px;
  z-index: 1;
  background-color: $background-color;
}

@media (max-width: 1720px) {
  .main-header {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 1200px) {
  .main-header {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 760px) {
  .main-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }

// .main-header:before, .main-header:after {
//   content: "";
//   position: absolute;
//   z-index: -1;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
//   top: 50%;
//   bottom: 0;
//   left: 10px;
//   right: 10px;
//   border-radius: 100px / 10px;
// }

// main.content {
//   margin-top: 125px;
// }
main.content {
  margin-top: 15px;
}


.logo {
  margin-top: 0;
  width: 200px;
  max-width: 80%;
  line-height: 0;

  img {
    width: 100%;
  }
}

.navigation {
  @media (max-width: 870px) {
    display: none;
  }

  li {
    list-style: none;
    float: left;
    margin-left: 40px;

    &:hover > .sub-nav {
      display: block;
    }
  }

  a {
    color: $text-color;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    &.active {
      font-weight: 900;
    }
  }

  .sub-nav {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    line-height: 30px;
    min-width: 200px;
    padding-top: 5px;
    position: absolute;
    transition: all 1s ease-in-out;
    text-align: left;
    top: 100px;
    z-index: 999;

    li {
      position: relative;
      float: none;
      margin-left: 0;
      border-bottom: 1px solid #eee;

      a {
        display: inline-block;
        font-size: .65rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 7px 25px;
      }
    }

    .sub-nav {
      left: 100%;
      top: 0;
    }
  }
}

.open-nav {
  color: $text-color;
  display: none;
  position: relative;
  right: 0;
  height: 22px;
  width: 28px;
  z-index: 1;
  background-color: transparent;
  border: none;

  &:focus {
    border: none;
  }

  @media (max-width: 870px) {
    display: block;
  }

  i {
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 100%;
    transition: all .3s ease-in-out;

    &:before {
      position: absolute;
      top: -9px;
      left: 0;
      content: " ";
      height: 2px;
      width: 100%;
      transition: all .3s ease-in-out;
    }

    &:after {
      position: absolute;
      top: 9px;
      left: 0;
      content: " ";
      height: 2px;
      width: 100%;
      transition: all .3s ease-in-out;
    }
  }

  &:hover {
    cursor: pointer;

    i:before, i:after {
      width: 80%;
    }
  }

  i,
  i:after,
  i:before {
    background: $color-black;
  }
}
