.aside-nav-container {
  background: $background-color;
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 36px 0 0 50px;
  height: 100vh;
  width: 450px;
  z-index: 5;
  transition: left .6s;

  @media (max-width: 590px) {
    width: 100%;
  }

  &.active {
    left: 0;
    overflow-y: scroll;
    opacity: 1;
  }

  .close-nav {
    color: $text-color;
    font-size: 1.5rem;
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: transparent;
    border: none;

    i {
      color: $text-color;
      font-weight: 100;
      font-family: Lato, sans-serif;
      font-size: 2.0em;
      text-align: center;
      border-radius: 5px;
      font-style: normal;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .aside-nav {
    color: $text-color;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 46px;
    list-style: none;

    li {
      margin-bottom: 10px;

      a {
        font-size: 2.25rem;
        font-weight: 700;
        letter-spacing: .3px;
        text-transform: capitalize;

        &.active {
          font-weight: 900;
        }
      }
    }
  }
}

.body-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  opacity: 0;
  transition: opacity .4s, left 0s .4s;
  background: rgba(0, 0, 0, 0.7);

  &.active {
    position: fixed;
    left: 0;
    opacity: 1;
    transition: opacity .4s, left 0s;
  }
}
