<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="Tom Schuster">

    <title>Funk and Schuster Fine Art Printing</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/moquin/css/themify-icons.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/moquin/css/fontawesome-all.min.css") %>">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/moquin/css/main.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/moquin/css/colors.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/moquin/css/responsive.css") %>">


    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
  </head>

  <body>
    <%= thesis_editor(@conn) %>
    <div class="container-large <%= page_class(@conn) %>">
      <header class="main-header">

        <a href="<%= page_path(@conn, :index) %>" class="logo">
          <img src="<%= static_path(@conn, "/images/logo.svg") %>" alt="moquin-logo">
        </a>

        <nav>

          <a href="#" class="open-nav"><i></i></a>

          <ul class="navigation">
            <li><a href="<%= page_path(@conn, :about) %>">About</a></li>
            <li><a href="<%= page_path(@conn, :gallery) %>">Gallery</a></li>
            <li><a href="<%= page_path(@conn, :artists) %>">Artists</a></li>
            <li><a href="<%= page_path(@conn, :contact) %>">Contact</a></li>
          </ul> <!-- /.navigation -->

        </nav> <!-- /nav -->

      </header> <!-- /header -->

      <%= render @view_module, @view_template, assigns %>

    </div> <!-- /.container-large -->

    <div class="body-overlay"></div>

      <footer class="footer_02 reversed">

      <div class="container">

        <div class="copyright-info">
          <span class="paragraph">
            <%= content(@conn, "Copyright", :text, do: "copyright © 2018 Funk and Schuster Fine Art Printing.") %>
          </span>
        </div>

        <div class="social-icons">
          <ul>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>

        <div class="clearfix"></div>

      </div>

    </footer> <!-- /footer -->

    <div class="aside-nav-container">

      <a href="#" class="close-nav"><i class="ti-close"></i></a>

      <nav>

        <ul class="aside-nav">
          <li><a href="<%= page_path(@conn, :index) %>">Home</a></li>
          <li><a href="<%= page_path(@conn, :about) %>">About</a></li>
          <li><a href="<%= page_path(@conn, :gallery) %>">Gallery</a></li>
          <li><a href="<%= page_path(@conn, :artists) %>">Artists</a></li>
          <li><a href="<%= page_path(@conn, :contact) %>">Contact</a></li>
        </ul> <!-- /.aside-nav -->

      </nav>

    </div> <!-- /.aside-nav-container -->

    <div class="body-overlay"></div>

    <script src="<%= static_path(@conn, "/moquin/js/main.js") %>"></script>

  </body>
</html>
