<div class="aside-nav-container">

  <a href="#" class="close-nav"><i>x</i></a>

  <nav>

    <ul class="aside-nav">
      <li><%= nav_link(@conn, :index, "Home") %></li>
      <li><%= nav_link(@conn, :about, "About") %></li>
      <li><%= nav_link(@conn, :gallery, "Gallery") %></li>
      <li><%= nav_link(@conn, :artists, "Artists") %></li>
      <li><%= nav_link(@conn, :contact, "Contact") %></li>
    </ul>

  </nav>

</div>

<div class="body-overlay"></div>
